openpyxl
streamlit
pandas
scikit-learn
scipy
matplotlib
numpy
seaborn
plotly
lazypredict == 0.2.12
lightgbm
xgboost
shap
altair<5
fancyimpute>=0.7.0
statsmodels>=0.13.5
loguru>=0.7.0
umap-learn>=0.5.3
boruta>=0.3
